
<p><%= current_user.first_name %>
  <%= current_user.last_name %>
</p>

<h3>I am dashboard</h3>
<% @cars.each do |car| %>
<p><%= car.brand %></p>
<% end %>

<% @orders.each do |order| %>
<p><%= order.car.brand %></p>
<% end %>
