.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  padding: 10px;
  border-radius: 10px;
  // text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), asset-url('banner_car_black.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
}

.banner-title {
  position: absolute;
  font-size: 3em;
  font-weight: 800;
  margin: 0;
  bottom: 0;
  text-align: left;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Merriweather Sans', sans-serif;
}

.banner a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
}
