.car-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 530px;
  text-decoration: none;

  .card-img-top{
    border-radius: 10px; // matches the border radius of the card
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  .delete-edit-btn {
    text-align: right;
  }


  .card-title {
    color: rgb(77, 77, 77);
    font-size: 1.7rem; /* Adjust the size as needed */
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
  }

  .card-text {
    color: rgb(85, 85, 86);
    font-size: 1.3rem; /* Adjust the size as needed */
    font-weight: 400;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
  }
}

.card--container {
  color: rgb(85, 85, 86);
  display: flex;
  text-decoration: none;
}

.col-md-4:hover {
  transition: transform 0.25s ease-out;
  transform: scale(1.05);
}

#price--num {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(131, 129, 129);
}

.link-btn {
  border-radius: 5px;
  padding: 5px;
  // color: rgb(73, 115, 250);
}

.link-btn:hover {
  color: white;
  transition: 0.2s;
}
