.navbar-usedcar {
  justify-content: space-between;
  background: white;
}

.navbar-usedcar .navbar-collapse {
  flex-grow: 0;
}

.navbar-usedcar .navbar-brand img {
  width: 40px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.main {
  margin-top: 98px;
}
