.carousel-item .carousel-image {
  height: 450px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
}

.carousel-image {
  border-radius: 20px; /* Adjust the value as needed for your desired roundness */
  overflow: hidden;
}

.card.card--container {
  border-radius: 20px;
  height: 450px; /* Set the height to match the left card */
}

.square-content {
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Modify the shadow values as needed */
}
