.carousel-item .carousel-image {
  height: 277px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
}

.carousel-image {
  border-radius: 20px; /* Adjust the value as needed for your desired roundness */
  overflow: hidden;
}

.card.card--container {
  border-radius: 20px;
}


