<div class="banner">
  <h1>My Car</h1>
  <p><%= link_to "Add a car", new_car_path %></p>

</div>

<div class="row">
  <% @cars.each do |car| %>
  <div class="col-3 card">
     <h3><%= link_to car.brand, car_path(car.id) %></h3>
     <% if !car.photos.empty? %>
      <%= cl_image_tag car.photos.first.key %>
     <% end %>
  </div>
  <% end %>
</div>
