<div class="banner">
  <h1>My Car</h1>
  <p><%= link_to "Add a car", new_car_path %></p>

</div>

<div class="row" data-controller="logo">
  <% @cars.each do |car| %>
  <div class="col-3 card" data-logo-target="carLogo">
     <h3><%= link_to car.brand, car_path(car.id) %></h3>
  </div>
  <% end %>
</div>

