<h1>I am show page (cars => show)</h1>

<h2>
  <%= @car.model %>
  <%= @car.user.email %>
</h2>

<% @car.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<p><%= link_to "Home", root_path %></p>
